<form name="contact" action="https://formspree.io/" method="POST">
    <div class="input text-center">
        <input type="text" placeholder="Your Name" name="name"
            class="w-full lg:w-4/5 mt-3 p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
            required>
    </div>
    <div class="input text-center">
        <input type="text" placeholder="Email Address" name="mail"
            class="w-full lg:w-4/5 mt-3 p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
            required>
    </div>
    <div class="input text-center">
        <input type="text" placeholder="Title" name="title"
            class="w-full lg:w-4/5 mt-3 p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
            required>
    </div>
    <div class="input text-center">
        <textarea rows="8" cols="30" placeholder="Message" name="message"
            class="w-full lg:w-4/5 mt-3 p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
            required></textarea>
    </div>
    <div class="text-center">
        <input type="submit" value="Submit"
            class="bg-white w-full lg:w-4/5 mt-3 button py-3 px-9 duration-200 border-2 border-black hover:bg-black hover:text-white">
    </div>
</form>